---
import PageLayout from '@layouts/PageLayout.astro';
import InfoBox from '@components/InfoBox.astro';

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const noticias = await getCollection('noticias');

  return noticias.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<PageLayout pageTitle={entry.data.title} bannerTitle="HUBHealth">
  <h4>{entry.data.title}</h4>

  <InfoBox color="blue">
    {entry.data.blurb}
  </InfoBox>

  <Content />
</PageLayout>
