---
import PageLayout from '@layouts/PageLayout.astro';

export const prerender = false;

const pageTitle = 'Contáctanos';
---

<PageLayout pageTitle={pageTitle}>
  <h2>Contáctanos</h2>
</PageLayout>
