---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Cluster de Salud Santo Domingo';
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-3xl font-bold underline">Cluster de Salud Santo Domingo</h1>
</BaseLayout>
