---
import BaseLayout from '@layouts/BaseLayout.astro';
const pageTitle = 'Sobre Nosotros';
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Sobre Nosotros</h1>
  <h2>Sobre el Clúster de Salud de Santo Domingo (www.ClusterSaludSD.org)</h2>
  <blockquote>
    <p>
      En la intersección de los clúster, conocimientos y habilidades de varios
      campos se combinan y generan nuevos negocios.
    </p>
    <footer>Prof. Michael Porter</footer>
  </blockquote>

  <p>
    Objetivo del Clúster de Salud Santo Domingo: Crear sinergias optimizando la
    competitividad y la calidad de los servicios de salud en la provincia de
    Santo Domingo. El Valor de la Colaboración: CREEMOS EN GENERAR FORTALEZAS EN
    BASE A SINERGIAS Y ALIANZAS
  </p>
  <p>
    El concepto de los clústers fue detallado por primera vez por el Profesor
    Michael Porter a principios de la década de los 90, describiéndolos como
    concentraciones geográficas de empresas e instituciones interconectadas en
    un campo particular y como una herramienta para analizar de una forma
    integral factores que permiten a una industria específica incorporar nuevos
    eslabones en su cadena productiva, generando así ventajas comparativas en
    ciertos sectores del comercio mundial y fortaleciendo la competitividad.
  </p>

  <h2>Sobre la Clusterizacion en Salud (primer Ejercicio del Cluster)</h2>
  <blockquote
    cite="http://chtmagazine.com/edicion-13/sinergia-escala-y-competitividad/"
  >
    <p>
      <strong>Sinergia, escala y competitividad</strong> Dr. Amado Alejandro Báez
      MSc, MPH, FAAEM y FCCM
    </p>
    <footer>
      <a
        href="http://chtmagazine.com/edicion-13/sinergia-escala-y-competitividad/"
        >http://chtmagazine.com/edicion-13/sinergia-escala-y-competitividad/</a
      >
    </footer>
  </blockquote>

  <p>
    Proponemos una arquitectura básica para la creación del Clúster Salud de
    Santo Domingo. Este debe necesariamente integrar actores principales de los
    sectores salud y asociados, los cuales representando sus diversas áreas
    profesionales promuevan sinergia, escala económica y colaboración para
    fortalecer nuestra competitividad en este importante mercado global.
    Entendemos que existen numerosas otras instituciones y organizaciones que de
    una forma u otra convergen en el área de salud con potencial a contribuir
    con este proceso, y entendemos sería justo considerarlas mismas en cada caso
    de forma específica, para su inclusión en este esquema propuesto y así sumar
    y generar más alianzas y colaboraciones.
  </p>
</BaseLayout>
