---
interface Props {
  intent: 'success' | 'error';
  show: boolean;
  className: string;
  children: any;
}

const { intent, className, show = false } = Astro.props;
---

<div
  class:list={[
    'border-l-4 border-solid px-4 py-1 text-sm text-white',
    { 'border-green-800 bg-green-700': intent === 'success' },
    { 'border-red-800 bg-red-700': intent === 'error' },
    { hidden: !show },
    className,
  ]}
>
  <slot />
</div>
