---
import SvgImg from '@components/SvgImg.astro';
const year = new Date().getFullYear();
---

<footer class="relative">
  <div class="bg-zinc-600 pb-7 pt-6 text-sm text-zinc-400">
    <div
      class="cssd-container text-center sm:flex sm:items-center sm:justify-between"
    >
      <div>
        &copy; {year} de Salud Santo Domingo. Todos los derechos reservados.
      </div>

      <div
        class="mt-4 flex items-center justify-center leading-normal sm:mt-0 sm:justify-end"
      >
        <a href="#" target="_blank" class="mr-3">
          <SvgImg height={20} width={20} color="#a1a1aa" icon="facebook" />
        </a>
        <a href="https://twitter.com/clustersaludsd" target="_blank">
          <SvgImg height={20} width={19} color="#a1a1aa" icon="twitter" />
        </a>
      </div>
    </div>
  </div>
</footer>
