<div class="bg-zinc-600 text-zinc-300 text-sm">
  <div class="container mx-auto">
    <div>
      <span>Infórmate:</span><a href="mailto:info@clustersaludsd.org"
        >info@clustersaludsd.org</a
      > | <a href="tel:8093781962">809-378-1962</a>
    </div>
  </div>
</div>
