---
interface Props {
  color?: 'blue' | 'red';
  children: any;
}

const { color = 'blue' } = Astro.props;
---

<div
  class:list={[
    'mb-6 border-l-4 border-solid px-6 py-5 text-sm leading-6',
    { 'border-sky-200 bg-sky-100 text-sky-700': color === 'blue' },
    { 'border-rose-200 bg-rose-100 text-rose-700': color === 'red' },
  ]}
>
  <slot />
</div>
