---
interface Props {
  pageTitle: string;
  children: any;
}

import '@fontsource-variable/raleway';
import Header from '@components/Header.astro';

const { pageTitle = 'Home' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | Cluster de Salud Santo Domingo</title>

    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        .cssd-container {
          @apply mx-auto block px-4 md:w-[750px] lg:w-[970px] xl:w-[1170px];
        }
      }
    </style>
  </head>

  <body class="text-zinc-500">
    <Header />

    <main class="relative">
      <slot />
    </main>
  </body>
</html>
