---
interface Props {
  pageTitle: string;
  children: any;
}

import '@fontsource-variable/raleway';
import '@fontsource-variable/lora/wght-italic.css';

import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

const { pageTitle = 'Home' } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/images/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | Cluster de Salud Santo Domingo</title>

    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          @apply font-bold text-zinc-700;
        }

        h1 {
          @apply text-4xl;
        }

        h2 {
          @apply text-3xl;
        }

        h3 {
          @apply text-2xl;
        }

        h4 {
          @apply text-xl;
        }

        h5 {
          @apply text-lg;
        }

        h6 {
          @apply text-base;
        }

        p {
          @apply text-sm leading-relaxed;
        }

        a:not(.button, .menu-item) {
          @apply hover:text-accent;
        }

        .cssd-container {
          @apply mx-auto block px-4 md:w-[750px] lg:w-[970px] xl:w-[1170px];
        }
      }
    </style>
  </head>

  <body class="text-zinc-500">
    <Header />

    <main class="relative">
      <slot />
    </main>

    <Footer />

    <a
      href="#top"
      id="scroll-top"
      class="fixed bottom-14 right-5 z-50 hidden h-10 w-10 items-center justify-center rounded-full bg-primary opacity-0 shadow-md transition-opacity sm:flex"
    >
      <!--?xml version="1.0" ?-->
      <svg
        viewBox="0 0 256 256"
        xmlns="http://www.w3.org/2000/svg"
        class="w-3/4"
        ><rect fill="none" height="256" width="256"></rect><polyline
          fill="none"
          points="48 160 128 80 208 160"
          stroke="#ffffff"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="16"></polyline></svg
      >
    </a>
  </body>
</html>

<script>
  document.onscroll = () => {
    const scrollToTop = document.getElementById('scroll-top');
    if (!scrollToTop) return;

    if (window.scrollY > 100) {
      scrollToTop.classList.add('opacity-100');
    } else {
      scrollToTop.classList.remove('opacity-100');
    }
  };
</script>
